<h1>Please log in first</h1>

<h3>Don't have an account?</h3>
 <%= link_to 'Sign up now!', new_user_path, :class=>'call_to_action'%>
 <h3>As a registered user, you'll be able to list your boards for rent or rent boards for your next trip</h3>

<% form_for :session,
        :url => session_url(:protocol => env_ssl_protocol),
        :html => { :method => 'POST',:id => 'login_form' } do |form| %>
  <div class="user_fields">
    <%= render :partial => '/sessions/new_fields', :object => form %>
  </div>

  <div class="submit">
    <%= form.submit 'Login', :class => 'submitBtn' %>
  </div>
<% end -%>
