<br>
<br>
<% if @board.creator == current_user %>
<h2>Which days is this board <strong>not</strong> available?</h2>
<h3>Select the days you won't be able to rent or lend this board.<br>You can always return to change these dates later.</h3>
<% else %>
<h2>Which days would you like to reserve this board?</h2>
<h3>Select the days you want and click 'Reserve'.  You can change cancel with at least 48 hours notice.</h3>
<% end %>
<br>
<div id="multimonth">This will be replaced with the multimonth select</div>

<script language="javascript">

  var blackOutDates = <%= actual_dates(@board.black_out_dates).inspect %>;
  var reservedDates = <%= actual_dates(@board.reserved_dates).inspect %>;

</script>

<div style="clear:both;"/>
