

  <br>
  <div id="multimonth">This will be replaced with the multimonth select</div>
  <script language="javascript">
    var takenDates    = <%= taken_dates_json_for(board) %>;
    var blackOutDates = <%= black_out_dates_json_for(board) %>;
    var ownerDates    = <%= owner_dates_json_for(board) %>;
    var reservedDates = <%= reserved_dates_json_for(board) %>;
  </script>
  <div style="clear:both;"></div>
