

  <br>
  <div id="multimonth">This will be replaced with the multimonth select</div>
  <script language="javascript">

    var takenDates    = <%= taken_dates_json %>;
    var blackOutDates = <%= black_out_dates_json %>;
    var ownerDates    = <%= owner_dates_json %>;
    var reservedDates = <%= reserved_dates_json %>;


  </script>
  <div style="clear:both;"></div>
