.show-admin-items {
  margin-bottom:10px;
}
.show-admin-items a {
  font-size:14px;
}

.show-admin-items p {
  padding-left:20px;
}

.show-admin-items li {
  padding-left:20px;
  list-style:none;
  font-size:14px;
  height:30px;
}

#search_location_submit {
  width:70px;
}


#style_submit {
  width:70px;
}

#admin-item-form {
  margin-top:10px;
  margin-bottom:10px;
}

.show-admin-items label {
  width:5em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.show-admin-items input {
  width:250px;
  float:left;
}

.inline-errors {
  float:right;
  padding-right:370px;
  font-size:14px;
  color:red;
}



#admin-items-table {
  margin-top:10px;
  border:solid 1px;
}

#admin-items-table td {
  border:solid 1px;
  padding:3px 3px 5px 5px;
}

.admin-items-header {
  background-color:black;
  color:white;
}




