/* 
    Document   : session.css
    Created on : Oct 8, 2009, 11:30:27 PM
    Author     : JC
    Description:
        All the css specific to the session and user.
*/

/* overall label css for form alignment */
.user-fields label {
  width:5em;
  float: left;
  text-align: left;
  margin-right: 0.5em;
  display: block
}

.checkbox {
  margin-bottom:13px;
  margin-top:0px;
}

.user-fields .big-label {
  width:9em;
}

.user-fields input {
  margin-bottom:1em;
}


/* index authentication */

/* show authentication */

/* create authentication */

.submitBtn{
  background-color:#5ACBF9;
  width: 65px;
  height: 30px;
  color: #494444;
  font-weight: bold;
  font-size:15px;
  border: none;
  padding: 0 0 4px 0;
  cursor: pointer;
  margin-bottom:10px;
}

.submitBtn:hover {
  background-color:#58CFFF;
}

.terms-checkbox {
  float:left;
  padding-right:91px;
}


#signup_form{
    width:100%;
}

#signup_form label,
#login_form label{
    font-size:1.2em;
}

#login-signup{
    float:none;
}

#login-signup ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
  /*margin-left: 1px;*/
  margin-top: 30px;
  font-size: 1.2em;
}


#login-signup ul li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
 /* width: 80px;*/
  padding: 10px 15px;
  text-align: center;
  background: #333333;
  color: #ffffff;
  font-weight:bold;
}

#login-signup ul li a:hover,
#login-signup ul li a:focus,
#login-signup ul li a:active {
  background: #494444;
}

#login-form {
  padding-top:0px;
}

.login-header {
  margin-bottom:15px;
}

#errorExplanation {
  margin-bottom:10px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  background:#FFC2C3;
  font-size:1.3em;
  width:800px;
  border-top: solid #EB6756;
  border-bottom: solid #EB6756;
}

#errorExplanation h2 {
  font-size: 1.5em;
}

#errorExplanation p {
  font-size:1.2em;
}

#errorExplanation li {
  font-size:1em;
}

/* update authentication */

/* destroy authentication */


