/* 
    Document   : session.css
    Created on : Oct 8, 2009, 11:30:27 PM
    Author     : JC
    Description:
        All the css specific to the session and user.
*/




/* index authentication */

/* show authentication */

/* create authentication */

/* these two are not needed for the header dropdown forms...we may need them
as we flesh out the login and create user pages.
#signup_form .fieldWithErrors,
#login_form .fieldWithErrors {
  display: inline
}


#application #login-signup #signup_form #tos_field .fieldWithErrors {
  display: inline;
}
*/


.submitBtn{
  background: transparent url(/images/login-button.gif) no-repeat;
  width: 59px;
  height: 26px;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 0 0 4px 0;
  cursor: pointer;
}


#signup_form{
    width:100%;
}

#signup_form div{
    margin-bottom: 10px;
    width:100%;
}

#signup_form label,
#login_form label{
    font-size:1.2em;
    width:150px;
    display: inline-block;
}

#login-signup{
    float:none;
}

#login-signup ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
  /*margin-left: 1px;*/
  margin-top: 30px;
  font-size: 1.2em;
}


#login-signup ul li a {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: top;
 /* width: 80px;*/
  padding: 10px 15px;
  text-align: center;
  background: #172322;
  color: #ffffff;
  font-weight:bold;
}

#login-signup ul li a:hover,
#login-signup ul li a:focus,
#login-signup ul li a:active {
  background: #494444;
}



/* update authentication */

/* destroy authentication */


