/* 
    Document   : board.css
    Created on : Oct 8, 2009, 11:23:38 PM
    Author     : JC
    Description:
        All the css specific to the board model.
*/


/* index boards */
#board_submit {
  border:none;
  font-size:13px;
  width:70px;
  color:#2797E6;
  text-decoration:underline;
}

.board-flash {
  width:545px;
  margin-bottom:2px;
}

#board_submit:hover {
  text-decoration:underline;
  cursor:pointer;
}

#board_list {
    padding-bottom:10px;
}

#searchForm {
    width:70%;
}

#list-headings li {
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  border-right:3px solid white;
  border-bottom:2px solid white;
  height:35px;
  color:#ffffff;
  font-size:16px;
  background-color:#333333;
}


#list-table li {
  display:table;
  #position:relative;
  overflow:hidden;
  float:left;
  vertical-align:middle;
  text-align:center;
  height:100px;
  font-size:10px;
  border-right:3px solid white;
  background-color:#eeeeee;
}


#centering-div {
  #position:absolute;
  #top:50%;
  display:table-cell;
  vertical-align:middle;
}

#centering-div img {
  #position:relative;
  #top:-50%;
}

#centering-div p {
  #position:relative;
  #top:-50%;
}

#list-table li p.big-x a {
    font-size:28px;
}


#list-table li.short p {
  width:70px;
}


#list-table li.model p {
  width:120px;
}

#list-headings li.model {
  width:120px;
}

#list-table li.pic {
  width:100px;
}

#list-headings li.pic {
  width:100px;
}

#list-table .muted-text {
  color:#999999;
}

#list-table li.medium p {
  width:100px;
}

#list-headings li.short {
  width:70px;
}

#list-headings li.medium {
  width:100px;
}

#list-table li:hover {
  background-color:#F1F4F4;
  cursor:pointer;
}


/* show board */
#board-details {
  float:left;
}

.is-you {
  float:left;
  padding-top:10px;
}

#board-edit {
  float:left;
  font-size:18px;
  padding-top:8px;
}

h1 {
  margin-bottom:5px;
}

#mainContent h2 {
  margin-bottom:5px;
}

#info-table {
  float:left;
}
.attr-name {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
  width:100px;
  background-color:#888888;
  color:white;
  border-right:6px solid white;
  border-bottom:2px solid white;
}

.description {
  width:230px;
}

.value {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  height:54px;
  padding-left:10px;
  padding-right:10px;
  width:100px;
  background-color:#eeeeee;
  border-bottom:2px solid white;
}

#val-span {
  float:right;
  width:100px;
}

#photos {
  float:right;
}

.photo {
  display:table;
  #position:relative;
  overflow:hidden;
  float:left;
  height:260px;
  width:270px;
  text-align:center;
  vertical-align:middle;
  font-size:5em;
  color:#aaaaaa;
  border-right:6px solid white;
  border-bottom:6px solid white;
}

.edit-photo-holder {
  float:left;
  margin-left:10px;
  margin-bottom:10px;
  text-align:center;

}

.edit-photo-holder p {
  text-align:left;
  margin-left:28px;
}

.edit-photo-error {

  margin-left:20px;
  margin-right:20px;
  font-size:14px;
  color:red;
}

.edit-no-photo, .edit-photo {
  margin-left:30px;
  display:table;
  #position:relative;
  overflow:hidden;
  height:260px;
  width:270px;
  text-align:center;
  vertical-align:middle;
  font-size:5em;
  color:#aaaaaa;
}

.edit-no-photo p {
    margin-left:20px;
  margin-right:20px;
  text-align:center;
}



.no-photo, .edit-no-photo {
  background-color:#eeeeee;
}

.photo img {
  margin-bottom:-7px;
}


#show-daily-fee {
  margin-top:1px;
}
#money {
  background-color:#2797E6;
}

#rent-me-link{
  float:right;
  font-size:3.8em;
}

#rent-me-link-too{
  font-size:3.8em;
  padding-bottom:10px;
}

#show-board-header {
  float:left;
}

/* create boards */

/* new boards */

#mainContent .new_board {
   margin:0px;
   padding:0px;
}

.fields a {
  color:#1BA2FC;
}

.fields {
  color:white;
  font-size:0.9em;
  width:720px;
  background:#888888;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.explanation {
  width:800px;
}

#new_board .errorExplanation {
    width:50%;
    color:red;
}

.fraction_dropdown {
    width:123px;
}

.owners-instructions {
  width:720px;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
  background:#888888;
}

.owners-instructions p {
  color:white;
}

/* update boards */
#submit-reservation, #submit-unavailable-dates, #submit-new-board {
  margin-bottom:10px;
	margin-top:10px;
}

#how-words {
  background-color:#eeeeee;
  width:760px;
  padding:10px 10px 10px 10px;
  margin-bottom:10px;
}

/* destroy boards */