/* 
    Document   : board.css
    Created on : Oct 8, 2009, 11:23:38 PM
    Author     : JC
    Description:
        All the css specific to the board model.
*/


/* index boards */
#board_list {
    padding-bottom:10px;
}

#searchForm {
    width:70%;
}

#list-headings li {
  text-align:center;
  display:table-cell;
  vertical-align:middle;
  border-right:3px solid white;
  border-bottom:2px solid white;
  height:35px;
  width:140px;
  color:#ffffff;
  font-size:16px;
  background-color:#333333;
}


#list-table li {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:100px;
  font-size:16px;
  width:140px;
  border-right:3px solid white;
  border-bottom:2px solid white;
  background-color:#eeeeee;
}

#list-table li a {
  font-size:24px;
}

#list-table li a:hover {
  text-decoration:none;
}

#list-table li.short {
  width:80px;
}

#list-table .muted-text {
  color:#999999;
}

#list-table li.medium {
  width:100px;
}

#list-headings li.short {
  width:80px;
}

#list-headings li.medium {
  width:100px;
}

#list-table li:hover {
  background-color:#F1F4F4;
  cursor:pointer;
}


/* show board */
h1 {
  margin-bottom:5px;
}

#mainContent h2 {
  margin-bottom:5px;
}

#info-table {
  float:left;
}
.attr-name {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
  height:40px;
  width:100px;
  background-color:#888888;
  color:white;
  border-right:6px solid white;
}

.description {
  width:230px;
}

.value {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  height:40px;
  padding-left:10px;
  padding-right:10px;
  width:100px;
  background-color:#eeeeee;
}

#photos {
  float:right;
  margin-right:20px;
}

.photo {
  height:260px;
  width:270px;
  background-color:#eeeeee;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  font-size:5em;
  color:#aaaaaa;
  border-right:6px solid white;
  border-bottom:6px solid white;
}

.photo img {
  height:270px;
  margin-bottom:-7px;
}


/* create boards */

/* new boards */

#mainContent .new_board {
   margin:0px;
   padding:0px;
}

.fields a {
  color:#1BA2FC;
}

.fields {
  color:white;
  font-size:0.9em;
  width:720px;
  background:#888888;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
}

.explanation {
  width:800px;
}

#new_board .errorExplanation {
    width:50%;
    color:red;
}

.fraction_dropdown {
    width:123px;
}

.owners-instructions {
  width:720px;
  margin-top:10px;
  margin-bottom:10px;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
  background:#888888;
}

.owners-instructions p {
  color:white;
}

/* update boards */

/* destroy boards */