/* put any css in here that is specific to ie */
#header {
  height:80px;
}

#login-signup{
  margin-top:15px;
}

#logo-holder {
  margin-top:15px;
}
.terms-checkbox {
  padding-right:70px;
}

div .board-flash {
  width:570px;
}


.right-column {
  width:300px;
  padding-right:90px;
}

.user-info-table input[type=text],.user-info-table input[type=password] {
  display:block;
  width:195px;
}

.user-info-table li {
  width:350px;
}

.user-info-table .value, .user-info-table .attr-name {
  display:block;
}

.user-info-table .attr-name {
  padding-top:15px;
  height:30px;
  width:100px;
  float:left;
}

.user-info-table .value {
  padding-top:15px;
  height:30px;
  width:150px;
  float:right;
  padding-right:95px;
}

.user-info-table {
  width:370px;
}

.user-info-table .inline-errors {
  width:340px;
}

.user-info-table .tall {
  height:140px;
}