/* 
    Document   : location.css
    Created on : Oct 8, 2009, 11:23:45 PM
    Author     : JC
    Description:
        All the css specific to the location model.
*/


/* index location */

/* show location */


#currentLocation {
    margin-left:40px;
    padding-top:100px;
    height:400px;
}

#currentLocation dl {
    height:300px;
}

#currentLocation dt {
  float:left;
  font-size:1.4em;
}

#currentLocation dd {
  font-size:1.4em;
}

/* create location */

/* new location */

#map {
   margin-top:10px;
   margin-bottom:10px;
   margin-right:20px;
   font-size:1.3em;

}

#addresForm input {
    float:right;
}

#addressInput {
    width:510px;
}

.location-instructions {
  color:#333333;
  margin-top:10px;
  width:705px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  background-color:#dddddd;
}

#board_location_submit{
	margin-top:10px;
	display:none;
}
/* update location */

/* destroy location */
