/* v1.0 | 20080212 */

html, body, div, span,
h1, h2, h3, p,
a, img, dl, dt, dd, ul, li,
form, label,
table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}


/* remember to define focus styles! */
:focus {
  outline: 0;
}



/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END of RESET */

body {
  font-size: .625em;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #555555;
  text-align: center;
  background: #191C1C;
  padding: 0px 0 50px 0;
  margin: 0;
  line-height: 1;
  }

h1, h2, h3{
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.5em;
  line-height: 1.4;
  margin: 0;
}


td {
  font-size: 1.2em;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0 0 0 0;
  padding: 0;
}

img{
  border: none;
}

a:link, a:visited{
  text-decoration: none;
  color: #2797e6;
}

a:hover{
  text-decoration: underline;
}

a.call_to_action{
  font-size:1.5em;
}


.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
  overflow: hidden;
  height: 1px;
}

#container {
  text-align: left;
  width: 805px;
  margin: 0 auto;
  padding: 0;
}

#outer-container {
  width:1149px;
  margin:0 auto;
}

#header {
  width:845px;
  height:70px;
  margin-left:175px;
  margin-bottom:15px;
  margin-top:15px;
  background-color: #fff;
}

#logo{
  background: url(/images/logo.png) no-repeat;
  width: 287px;
  height: 61px;
}

#logo span{
  display: none;
}


#header .right{
  float: right;
  margin-top:-10px;
  margin-right:20px;
  text-align: right;
}

#header .left{
  margin-top:3px;
  margin-left:13px;
  text-align: right;
}


#divider {
    margin-right:20px;
    margin-bottom:-5px;
    border-bottom: 1px dotted #969696;
}

/*Tabs------------------------*/
.tabs {
  margin-left:175px;
  font-size:25px;

}
.tabs li {
  height:30px;
  width:110px;
  background-color:#5ACBF9;
  float:left;
  margin-right:8px;
  margin-bottom:3px;
  padding-top:5px;
  cursor:pointer;
}

.tabs a {
  color:#333333;
  text-decoration:none;
}


.tabs li:hover {
  background-color:#58CFFF;
}

.tabs li.active a {
  color:#ffffff;
}

.tabs li.active:hover  {
  background-color:#5ACBF9;
}

/*Left nav-------------------*/
#left-nav {
  float:left;
  margin-top:20px;
  width:170px;
  font-size:26px;
  font-family:impact;
}

#left-nav a {
  color:#ffffff;
}

#left-nav img {
  float:left;
  width:15px;
  margin-top:5px;
}
.left-nav-button {
  float:left;
  vertical-align:middle;
  text-align:left;
  height:40px;
  padding-left:5px;
  padding-right:5px;
}

#left-nav .active {
  border: 1px solid #ffffff;
}

.left-link {
  margin-left:10px;
  margin-top:7px;
  float:right;
  height:40px;
}

/*Main content----------------*/

#mainContent{
  float: left;
  width: 100%;
  display: inline;
  margin: 0px 0 302px 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:15px;
  background:#ffffff;
  border: solid 3px;
}


#mainContent h1 {
  font-size: 3.8em;
}

#mainContent h2{
  margin: 0px 0 0px 0;
  font-size: 2em;
  font-weight: normal;
}

#mainContent h3{
  margin: 10px 0 5px 0;
  color: #969696;
  font-size: 18px;
}



/*Sidebar-------------------------------------*/

#first-link-outer {
  display:table;
  #position:relative;
  overflow:hidden;
  height:100%;
  width:100%;
  text-align:center;
}

#first-link-outer p {
  font-size:25px;
}

#centering-div p {
  #position:relative;
  #top:-50%;
}

#shop-button p {
  font-size:25px;
}

#sidebar-spacer {
  height:15px;
}

#newest-shop {
  border: solid 2px #333333;
}


#most-popular-board {
  border-color: #333333;
  border: solid 2px;
}

#feature-holder {
  background-color:#666666;
  padding-top:5px;
  height:260px;
  width:227px;
}

.feature {
 background-color:white;
 width:217px;
 margin-left:3px;
 margin-top:5px;
 margin-bottom:5px;
 height:100px;
 vertical-align: bottom;
}

.feature-header {
  padding-top:5px;
  padding-left:10px;
  font-size:16px;
  color:white;;
}

.feature-image {
  display:table;
  #position:relative;
  overflow:hidden;
  float:left;
  height:100px;
  width:100px;
  text-align:center;
  vertical-align: middle;
  margin-right:3px;
}

#centering-div {
  #position:absolute;
  #top:50%;
  display:table-cell;
  vertical-align:middle;
}

#centering-div img {
  #position:relative;
  #top:-50%;
}

#centering-div a {
  #position:relative;
  #top:-50%;
}

.feature-desc {
  padding-top:15px;
  font-size: 15px;
}
.bold {
  font-weight: bold;
}
#photo{
  display:table;
  #position:relative;
  overflow:hidden;
  height:223px;
  width:223px;
  background-color:white;
  text-align:center;

}

#no-photo-div{
  display:table;
  #position:relative;
  overflow:hidden;
  height:223px;
  width:223px;
  background-color:#eeeeee;
  text-align:center;
  font-size:25px;

}

.no-photo {
  color:#999999;
}

.no-photo a {
  font-size:20px;
}


#sideBar{
  float: right;
  margin: 10px 5px 20px 0;
  width: 223px;
}
#counter{
  display:table-cell;
  vertical-align:middle;
  background: #333333;
  width: 223px;
  border-top:7px solid white;
  height: 114px;
  text-align: center;
}


#counter .amount{
  font-size: 3.6em;
  font-weight: bold;
  color:#5ACBF9;
}

#counter .for{
  font-size: 1.8em;
  color: #ffffff;
}


/*Home----------------------------------------*/



#button-area {
    margin: 10px 0 10px 0px;
    float:left;
    width:575px;
    font-size:25px;
    text-align:center;    
}

#button-area a {
  color:#333333;
}

.home-page-button {
  width:250px;
  cursor:pointer;
}


#new-board-button {
  display:block;
  height:81px;
  background-color:#DDDDDD;
  border:solid 1px;
  float:left;
  padding-top:35px;
  
}

#new-board-button:hover {
  background-color:#EEEEEE;
}

#board-search-button {
  height:81px;
  background-color:#DDDDDD;
  border:solid 1px;
  margin: 0 35px 0 0;
  float:right;
  padding-top:35px;
}

#board-search-button:hover {
  background-color:#EEEEEE;
}


#why-button {
  display:block;
  height:67px;
  background-color:#5ACBF9;
  float:left;
  padding-top:13px;
}

#why-button:hover {
  background-color:#58CFFF;
}


#how-button {
  height:58px;
  background-color:#5ACBF9;
  margin: 0 41px 0 0;
  float:right;
  padding-top:23px;
}

#how-button:hover {
  background-color:#58CFFF;
}



#question-buttons{
  margin-top: 15px;
  margin-bottom: 13px;
  float:left;
  width:580px;

}

#shop-button {
  display:table;
  #position:relative;
  overflow:hidden;
  width:537px;
  height:35px;
  background-color: #666666;
  color:white;
  border: 1px solid black;

}

#shop-button a {
  color:white;
}


/*Static Content----------------------------------------*/
.contact {
  margin-top:50px;
  margin-left:150px;
}

.paragraph {
  margin-bottom:15px;
}

.paragraph p {
  margin-bottom:10px;
}
.static_content {
   margin-top:10px;
	width:575px;
float:left;
	margin-bottom:20px;

}

.static_content li {
  font-size:1.7em;
  
}

.static_content ul {
  margin-left:30px;
  list-style:disc;
}

/*---------Flash------------------*/

.flash {
  margin-bottom:5px;
}

.flash p {
  /*border-top: 1px solid #6AA02D;
  border-bottom: 1px solid #6AA02D;*/
  color: #2a2829;
  padding: 4px;
  text-align:center;
}

#flash_error p{
	background: #ec1111;
}

#flash_notice p{
	background: #AEFF4B;
}

/*Footer--------------------------*/

#footer {
  padding: 0px 0 0 0;
  border-top: 1px solid #d5d0c1;
}

#footer ul{
  list-style: none;
  float: right;
}

#footer ul li{
  float: left;
  margin: 2px 0px 0px 0px;
  font-size: 1.2em;
}

#footer ul li.last{
  border: none;
}

#footer p {
  font-size:1.2em;
  float: left;
}


#surfer-pic-bottom {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
 
}

#taj-burrow-pic {
  position:absolute;
  height:auto;
  width:100%;
  bottom:0;
  
}





