/* v1.0 | 20080212 */

html, body, div, span,
h1, h2, h3, p,
a, img, dl, dt, dd, ul, li,
form, label,
table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ul {
  list-style: none;
}


/* remember to define focus styles! */
:focus {
  outline: 0;
}



/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END of RESET */

body {
  font-size: .625em;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #555555;
  text-align: center;
  background: #A5D2F1;
  padding: 0px 0 50px 0;
  margin: 0;
  line-height: 1;
  }

h1, h2, h3{
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.5em;
  line-height: 1.4;
  margin: 0;
}


td {
  font-size: 1.2em;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0 0 0 0;
  padding: 0;
}

img{
  border: none;
}

a:link, a:visited{
  text-decoration: none;
  color: #2797e6;
}

a:hover{
  text-decoration: underline;
}

a.call_to_action{
  font-size:1.5em;
}


.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  clear: both;
  overflow: hidden;
  height: 1px;
}

#container {
  text-align: left;
  width: 830px;
  margin: 0 auto;
  padding: 0;
}

#header {
  width: 100%;
  color: #fff;
  position: relative;
}

#logo{
  background: url(/images/logo.png) top left no-repeat;
  width: 275px;
  height: 78px;
  margin: 19px 0px;
}

#logo span{
  display: none;
}


#header .right{
  float: right;
  text-align: right;
}


/*Topper---------------------*/

#topper {
    margin: 0px 0 -2px 0;
}

#divider {
    margin-right:20px;
    margin-bottom:-5px;
    border-bottom: 1px dotted #969696;
}

/*Main content----------------*/

#mainContent{
  float: left;
  width: 100%;
  display: inline;
  margin: 0px 0 0 0;
  padding-left: 20px;
  background:#ffffff;
}


#mainContent h1 {
  font-size: 3.8em;
}

#mainContent h2{
  margin: 0px 0 0px 0;
  font-size: 2em;
  font-weight: normal;
}

#mainContent h3{
  margin: 10px 0 5px 0;
  color: #969696;
  font-size: 1.8em;
}


#mainContent p{
  margin: 0px 0 0 0;
  line-height: 1.7em;
}


/*Sidebar-------------------------------------*/
#sideBar{
  float: right;
  margin: 20px 20px 0 0;
  width: 223px;
}
#counter{
  background: #dddddd;
  width: 223px;
  height: 63px;
  padding: 24px 0;
  text-align: center;
  margin: 0 20px 10px 0;
}


#counter .amount{
  font-size: 3.6em;
  font-weight: bold;
}

#counter .for{
  font-size: 1.8em;
  color: #ff560e;
}


/*Home----------------------------------------*/



#buttonArea {
    margin: 25px 0 0 0px;
    float:left;
    width:580px;
}

#rent{

  margin: 0 20px 0 0;

}




#questionButtons{
  margin: 20px 0 0 0;
  float:left;
  width:580px;

}

#why{
  margin: 0 20px 0 0;

}


/*Static Content----------------------------------------*/
.static_content {
   margin-top:20px;
	width:575px;
float:left;
	margin-bottom:20px;

}

.static_content li {
  font-size:1.7em;
  
}

.static_content ul {
  margin-left:30px;
  list-style:disc;
}

/*---------Flash------------------*/

.flash {
  margin: 0px 2px 0 2px;
  width: 200px;
  background: url(/images/sub_flash.gif) bottom right no-repeat;
  padding-bottom: 11px;
}

.flash p {
  border: 1px solid #d6d6a2;
  background: #fefcbf;
  border-bottom: none;
  color: #2a2829;
  padding: 9px;
}

#app_main .flash p {
  padding: 18px;
}


#flash #flash_notice {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 1em 0 0 0;
}




/*Footer--------------------------*/

#footer {
  padding: 0px 0 0 0;
  border-top: 1px solid #d5d0c1;
  margin: 0 20px 0 0;
}

#footer ul{
  list-style: none;
  float: right;
}

#footer ul li{
  float: left;
  margin: 2px 0px 0px 0px;
  font-size: 1.2em;
}

#footer ul li.last{
  border: none;
}

#footer p {
  font-size:1.2em;
  float: left;
}

#surftown {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
 
}

#surftownpic {
  position:absolute;
  height:auto;
  width:100%;
  bottom:0;
  
}





