#overview-left {
  float:left;
  width:550px;
}

h1 {
  margin-bottom:10px;
}

h2 {
  color:#333333;
}

.view-tabs {
  margin-top:10px;
  margin-bottom:10px;
  font-size:1.5em;
}

#my-boards {
  border-bottom:dotted 1px;
}

#my_board_reservations {
  margin-top:10px;
  margin-bottom:10px;
}