/* 
    Document   : user.css
    Created on : Oct 8, 2009, 11:23:51 PM
    Author     : JC
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

/* show user profile */
#user-name {
  float:left;
  margin-bottom:10px;
}

.is-you {
  padding-top:10px;
  float:left;
}

#user-edit {
  float:left;
  padding-top:6px;
  padding-left:5px;
  font-size:2em;
}

.left-column {
  float:left;
  width:400px;
}

.right-column {
  float:right;
}

.user-photo {
  height:400px;
  width:400px;
  text-align:center;
  margin-bottom:10px;
}

#the-photo{
  display:table;
  #position:relative;
  background-color:white;
  overflow:hidden;
  height:400px;
  width:400px;
}

#centering-div {
  #position:absolute;
  #top:50%;
  display:table-cell;
  vertical-align:middle;
}

#centering-div img {
  #position:relative;
  #top:-50%;
}

#no-photo-div{
  display:table;
  #position:relative;
  background-color:#eeeeee;
  overflow:hidden;
  text-align:center;
  height:400px;
  width:400px;
}

#centering-div .no-photo {
  #position:relative;
  #top:-50%;
  padding-top:0;
  font-size:60px;
  color:#999999;
}

.user-desc {
  margin-top:20px;
}

.user-desc p {
  background-color:#eeeeee;
  height:110px;
  padding-left:10px;
  padding-right:10px;
}

.user-boards {
  margin-bottom:10px;
}

#photo-form {
  text-align:left;
  margin-top:10px;
}
#photo-form #errorExplanation {
  width:390px;
}

#photo-form h2 {
  margin-bottom:5px;
}

#hidden-user-stuff {
  width:343px;
  height:50px;
  padding-top:15px;
  padding-left:10px;
  background-color:#eeeeee;
  font-size:16px;
}

.user-info-table {
  margin-right:20px;
}

.user-info-table li {
  list-style:none;
}

.user-info-table h2 {
  padding-bottom:5px;
}

.user-info-table .attr-name {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
  height:41px;
  width:100px;
  background-color:#888888;
  color:white;
  border-right:3px solid white;
}

.user-info-table .value {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  height:40px;
  padding-left:10px;
  padding-right:10px;
  width:222px;
  background-color:#eeeeee;
}

.user-info-table .value p {
  font-size:1em;
  width:120px;
}

/* new user */

/* create user */

/* edit user */


#the-location {
  padding-top:10px;
  text-align:left;
}

#the-location p {
  padding-left:10px;
  margin-bottom:10px;
  background-color:#333333;
  color:white;
  width:390px;
}

#show-name {
  margin-bottom:10px;
}

.address-button {
  float:left;
}

.address-error {
  background-color:#FFA200;
  float:right;
  font-size:13px;
  height:27px;
  margin-right:15px;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
  padding-top:4px;
  width:170px;
}

.user-info-table label {
  font-size:1.5em;
  float:left;
  display:table-cell;
  vertical-align:middle;
  padding-left:10px;
  padding-top:12px;
  height:27px;
  width:120px;
  background-color:#888888;
  color:white;
  border-right:3px solid white;
  border-bottom:2px solid white;
}


.user-info-table p {
  width:333px;
}

.user-info-table lable abbr {
  text-decoration:none;
}

#surfer_description_input label, #shop_description_input label {
  display:block;
  background-color:white;
  color:#555555;
  padding-left:0px;
  padding-bottom:0px;
  font-size:2em;
  float:none;
  width:343px;
  height:23px;
}



#surfer_description, #shop_description {
  width:351px;
  height:82px;
}


.user-info-table input[type=text], .user-info-table input[type=password] {
  font-size:1.5em;
  display:table-cell;
  vertical-align:middle;
  padding-top:10px;
  height:27px;
  padding-left:10px;
  padding-right:10px;
  width:200px;
  border:1px solid;
  margin-bottom:1px;
}

#the-location {
  margin-right:0px;
}
#the-location li {
  width:400px;
  margin-right:0px;
}

#the-location label {
  width:80px;
}

#the-location input[type=text] {
  width:270px;
}


#location-selector {
  margin-left:93px;
  margin-top:3px;
  margin-bottom:10px;
}



#current-location {
  text-align:left;
  
}

#current-location p {
  background-color:#eeeeee;
  padding-left:10px;
  width:390px;
  margin-bottom:10px;
  color:black;
  padding-top:4px;
  padding-bottom:4px;
}
#change-location-link {
  color:#2797E6;
  cursor:pointer;
}
#change-location-link:hover {
  text-decoration:underline;
}

#address-fields select {
  border:solid 1px;
  width:292px;
  height:39px;
  font-size:15px;
  padding-left:8px;
  vertical-align:middle;
}

#surfer_user_location_attributes_postal_code_input label,
#shop_user_location_attributes_postal_code_input label {
  padding-top:8px;
  height:32px;
  font-size:12px;
}


#surfer_password_confirmation_input label,#shop_password_confirmation_input label {
  padding-top:5px;
  height:34px;
  
}

.pickup-times {
  height:28px;
  width:200px;
}

.user-info-table .pickup-times input[type=checkbox] {
  margin-right:10px;
  float:left;
}

.pickup-times p {
  font-size:1em;
  width:110px;
  float:left;
}

.user-info-table input[type=checkbox] {
  float:right;
  margin-top:5px;
  margin-right:35px;
  height:20px;
  width:20px;
}

#surfer_friendly_input {
  width:300px;
}

#surfer_friendly_input label {
  padding-top:3px;
  width:344px;
  height:38px;
}


.user-fields label {
  margin-top:10px;
  width:6em;
 
}

.user-fields input {
  margin-bottom:0px;
  margin-top:10px;
  width:20em;
}

.user-fields .inline-errors {
  color:red;
  font-size:1.2em;
  padding-left:66px;
}

.user-info-table .inline-errors {
  color:black;
  background-color:red;
  font-size:1.5em;
  margin-bottom:2px;
  padding-left:10px;
  width:345px;
}

.submit {
  margin-top:10px;
}


