/* 
    Document   : user.css
    Created on : Oct 8, 2009, 11:23:51 PM
    Author     : JC
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

