
<div class="user_fields">
  <p>
    Already have an account?<br/>
    <%= link_to 'Login instead!', new_session_path %>
  </p>
  <%= render :partial => '/users/new_fields', :object => form %>
</div>

<div class="submit">
  <%= form.submit 'Sign Up', :class => 'submitBtn' %>
</div>
