<p class="link">
  Already have an account?
  <%= link_to 'Login instead!', new_session_path %>
</p>

<div class="user_fields">
  <%= render :partial => '/users/new_fields', :object => form %>
</div>

<div class="submit">
  <%= form.submit 'Sign Up', :class => 'submitBtn' %>
</div>
