<h1>Forgot Password</h1>
<div class="login-header">
  <h3>
    Please enter the email address that you registered with. Once you click on the Send button we will send you an email that allows you to change your password.
  </h3>
</div>

 <% if @error_messages %>
 <div id="errorExplanation">
    <%= error_messages_for :user, :header_message => "Please review the following errors:", :message => "" %>
  </div>
 <% end %>

<% form_for :user, :html => {:id => 'lost-password-form'} do |form| %>


  <div class="user-fields">
    <div>
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email %>
    </div>
  </div>
  <div class="session-submit">
    <%= form.submit 'Submit', :class => 'submitBtn' %>
  </div>
<% end -%>
