<h1>Signup</h1>

<h3>Already have an account?</h3>
  <%= link_to 'Login', new_session_path %>
<% form_for :user,
            :url => users_url(:protocol => env_ssl_protocol),
            :html => { :method => 'POST',
                       :id => 'signup_page' } do |form| %>
<%= form.error_messages %>
<%= render :partial => '/users/new_fields', :object => form %>

<p> <%= form.submit 'Sign Up', :class => 'submitBtn' %></p>
<% end -%>


