<p>
  <b>Board:</b>
  <%=h @black_out_date.board_id %>
</p>

<p>
  <b>Date:</b>
  <%=h @black_out_date.date %>
</p>


<%= link_to 'Edit', edit_black_out_date_path(@black_out_date) %> |
<%= link_to 'Back', black_out_dates_path %>