<% content_for :javascript do %>
  $(document).ready(function() {
    $("div#new-board-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#board-search-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#why-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#how-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
  });

<% end %>

<div id="button-area">
  <div id="main-buttons">
    <div id="new-board-button" class="home-page-button">
      <%= link_to "Add your boards to the Global Quiver", new_board_path, :id=>"rent" %>
    </div>
    <div id="board-search-button" class="home-page-button">
			<%= link_to "Reserve boards in<br/>the Global Quiver", new_board_search_path, :id=>"boards" %>
    </div>
  </div>
  <div id="question-buttons">
    <div id="why-button" class="home-page-button">
			<%= link_to "Why would I lend<br/>my board?", page_path('why'), :id=>"why" %>
    </div>
    <div id="how-button" class="home-page-button">
      <%= link_to "How does this work?", page_path('how'), :id=>"how" %>
    </div>
  </div>
</div>