    <div id="sideBar">
      <div id="sidebar-spacer"></div>
      <div id="counter">
        <span class="amount"><%= total_user_count %></span><br/>
        <span class="for">surfers signed up</span>
      </div>
      <div class="clear"></div>
      <div id="counter">
        <span class="amount"><%= total_board_count %></span><br/>
        <span class="for">boards in global quiver</span>
      </div>
    </div><!-- #sideBar -->

