    <div id="sideBar">
      <div id="counter">
        <span class="amount"><%= total_user_count %></span><br/>
        <span class="for">surfers signed up</span>
      </div>
      <div id="counter">
        <span class="amount">0</span><br/>
        <span class="for">boards in global quiver</span>
      </div>
    </div><!-- #sideBar -->

