<div id="sideBar">
  <% if current_user.image.nil? %>
    <div id="no-photo-div">
      <div id="centering-div">
        <p class="no-photo">
          No Photo
        </p>
        <%= link_to "Add One", edit_user_path(:id => current_user.id) %>
       </div>
     </div>
   <% else %>
     <div id="photo">
       <div id="centering-div">
         <%= link_to image_tag(current_user.image.data.url(:home_page)), edit_user_path(:id => current_user.id) %>
       </div>
     </div>
  <% end %>
  <div id="counter">
    <% days = days_until_next_reservation %>
    <% if days == -1 %>
      <span class="for">You have no upcoming reservations</span>
    <% else %>
      <% the_next_reservation = next_reservation %>
      <%if !the_next_reservation.nil? %>
        <span class="amount"><%= link_to days, the_next_reservation %></span><br/>
      <% else %>
        <span class="amount"><%= days %></span><br/>
      <% end %>
      <span class="for">days until next reservation</span>
    <% end %>
  </div>
</div><!-- #sideBar -->

