<% content_for :head do %>
  <%= stylesheet_link_tag 'about', :media => 'screen' %>
<% end %>

<h1>About</h1>

<h3>We want to make surf travel better.</h3>
<div id="divider"></div>
<br/>
<br/>
<div id="idea">
  <h2>The Idea</h2>
  <p>
    I got tired of taking my boards on planes. I wouldn't know whether they were going to break,
    and it was totally expensive. It also seemed like a bad idea to trust that there would be
    good surfboards for rent at my travel destination. In April last year, I realized there could
    be a better way.
  </p>
  <p>
    Ever since then, I've been brainstorming, planning, and developing this site along with
    my business partner Mike Gehard. We think that by putting a little visibility into what
    boards rental shops have available and by asking the surfing community to participate, we
    can make it a lot easier to travel for surf.
  </p>
  <p>
    So that's what this site does. We list boards that are available from surf shops and surfers, and
    we let you reserve them. That way when you arrive at a destination, you'll know exactly the boards you
    have waiting for you, and you won't have a cumbersome boardbag on your shoulder.
  </p>
</div>
<div id="idea-pic">
  <%= image_tag "/images/luggage.jpg" %>
</div>
<div class="clear"></div>
<div id="counting-on">
  <p>
   Here are a few things we're counting on:
  </p>
  <ul>
    <li>
      Surfers might still want to bring their favorite
      board on surf trips, but they might reserve some small wave/flat day boards in advance instead
      of bringing 3 boards on the plane.
    </li>
    <li>
      By getting the local community to participate with their 'back of the quiver' boards, we
      might influence some surf shops to improve their rental offerings.
    </li>
    <li>
      Not everyone is going to like this idea. Travelling surfers are not welcome everywhere, then
      again, though, lots of surfers like to travel, so why not help each other out a bit?
    </li>
    <li>
      This isn't some big company play, we have limited means, so we're going to grow slowly. We're going
      to start in San Diego, and then move out from there as quickly as we can afford to. We'd love to
      talk to anyone that thinks this is a great idea and wants to help us out.
    </li>
    <li>
      We've also been thinking that this might be valuable for surfers that aren't
      traveling too. I can't afford to try out every kind of shortboard that interests me, but if they
      are here on Global Quiver, I can!
    </li>
  </ul>
</div>
<br/>
<br/>
<div id="people">
  <h2>The People</h2>
  <p>
    While we have a great respect for local surfing communities and the importance of the kinds of contributions
    that come from spending a life among surfers, we can't claim that status. Global Quiver is made by a couple
    of guys that live in Vail, CO which may someday be a seaside retreat, but is currently the farthest thing from it.
  </p>
  <div id="jon" class="person">
    <h3>Jon Christnesen</h3>
    <p>
      Jon is a 'locationally challenged' surfer with an inconvenient skiing habit. He lives in Vail with his wife and straps on tele skis
      whenever the snow is good. When he's not skiing, he's dreaming of surfing. He didn't learn to surf until he
      took his first lesson in Hawaii at age 25 and got intantaneously stoked for life. He has surfed in Hawaii,
      Panama, Mexico, Uruguay, Brazil, and California. Last year he lived in Uruguay for a year and got to surf almost
      enough. And yes, if you think there's an ulterior motive to this site you're right, but there's also a logic
      to it. Who would be more focused on surf travel than someone who can't surf without traveling?
    </p>
  </div>
  <div id="jon-pic">
    <%= image_tag "/images/jon.jpg" %>
  </div>
  <div id="mike" class="person">
    <h3>Mike Gehard</h3>
    <p>
      Mike is a bit more of a soul surfer in that he doesn't actually surf much. He's a great skier and kayaker, and
      he hopes to see this site serve the kayaking community down the road. He's also a hell of a software developer,
      and yoga teacher, so those qualities are probably more important to making a good website than actual surfing skill.
      Mike also sees eye to eye with Jon in that it's better to pour time and effort and heart into something you
      care about that will bring happiness to your life than into 'being more successful at work'. So we've built
      this site together in our spare time, and we hope it is helpful for you and we wouldn't mind if it gets us
      to the ocean now and then.
    </p>
  </div>
  <div id="mike-pic">
    <%= image_tag "/images/mike.jpg" %>
  </div>

</div>

