<div id="welcome">
  <h1>Contact Us</h1>
  <h3>Global Quiver is a way for surfers that travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can reserve boards for your next trip.  If you have an extra board, loan it or rent it.</h3>
</div>
<div class="static_content">
  <div class="contact">
    <h2>E-mail</h2>
    <p><a href="mailto:info@globalquiver.com">info@globalquiver.com</a></p>
    <br/>
    <h2>Phone</h2>
    <p>970-376-1920</p>
  </div>
</div>
