<% content_for :head do %>
  <%= stylesheet_link_tag 'faq', :media => 'screen' %>
<% end %>
<h1>Faq</h1>
<h3>We want to make surf travel better.</h3>
<div id="divider"></div>
<br/>
<br/>
<h2>Questions for traveling surfers</h2>
<div id="surfer-questions" class="questions">
  <h3>
    How much does this cost?
  </h3>
  <p>
    Global Quiver is free for surfers. When you rent or buy boards from people or shops, they'll
    charge you. That's it. There's no fee for using the site to make reservations.
  </p>
  <h3>
    Why are there so few boards on here?
  </h3>
  <p>
    We just went live (Feb 2010). We're trying to get surfers and shops to sign up as fast as we can.
    Please help us in this cause if you can. (I hope to be able to remove this questions soon!)
  </p>
  <h3>
    Why aren't there any boards where I want to go?
  </h3>
  <p>
    Since we are only two people we have to spread this by word of mouth. We're starting in San Diego and
    adding as we go. If you can help us get some surfers or shops signed up, please do! Just let us know how
    you can help by emailing us at info@globalquiver.com (or just tell your friends with extra boards to sign up).
  </p>
  <h3>
    How can I trust that the board I rented will be there when I get there?
  </h3>
  <p>
    For now, we're running this site on the honor system. Surfers are responsible, right?
  </p>
  <h3>
    I made a reservation with a person to use his board, now what?
  </h3>
  <p>
    You will get the person's email address in an email from Global Quiver. Write to the person and arrange
    a time and place to pick up and drop off the board.
  </p>
  <h3>
    There are all kinds of boards on here, how do I choose?
  </h3>
  <p>
    If you have this question, this may not be the best site for you. Choosing the wrong surfboard when you're
    a beginning surfer can be dangerous for you and other people in the water. You can search Global Quiver
    for surf shops listed in the area you're going, and they'll all be happy to help you out with your trip.
  </p>
  <p>
    Also, have fun! Surfing is one of the most difficult and absolutely the most rewarding sport you'll ever learn.
  </p>
</div>
<div id="divider"></div>
<br/>
<br/>
<h2>Questions for board owners</h2>
<div id="owner-questions" class="questions"> 
  <h3>
    Do I have to pay anything to list my boards?
  </h3>
  <p>
    No. As long as you're listing 5 boards or fewer. If you go more than 5, we'll get in touch with you
    and upgrade your status to 'shop'.
  </p>
  <h3>
    What happens if someone steals my board?
  </h3>
  <p>
    Stealing is illegal. If someone steals your board, you should contact the police and
    your renters or home owners insurance. Global Quiver can't help you on this other than
    hoping that it won't happen and being pissed if it does.
  </p>
  <h3>
    What happens if someone breaks my board?
  </h3>
  <p>
    This is a bummer, but sometimes it happens. And sometimes it's no one's fault. We ask
    surfers to offer to pay for things that are their faults, but Global Quiver can't
    enforce anything. Two things to consider: 1) Avoid putting your best boards on here
    unless you're cool with the potential consequences. 2) If you're charging money to
    people that use your board, you should be able to make enough money to cover repairs in
    just a few days worth of rentals.
  </p>
  <h3>
    What do I do if someone is being super uncool?
  </h3>
  <p>
    Obviously if you're in danger, call 911 (Global Quiver is just a website, you know?) but
    if someone is just being a complete asshole, then feel free to drop us a line at info@globalquiver.com.
    We have the authority to boot people off of here.
  </p>
  <h3>
    How much should I charge?
  </h3>
  <p>
    Can't help you there. How much can you get?
  </p>
</div>
<div id="divider"></div>
<br/>
<br/>
<h2>Questions for surf shops</h2>
<div id="shop-questions" class="questions">
  <h3>
    How much does this cost?
  </h3>
  <p>
    We put your shop on the site for free, and we charge a small percentage of the rental fee for each day we get one of your boards rented. We have discounts
    for high volume stores and we are open to interesting business ideas. We'll be in touch with you right away
    when you either sign up or send us an email at info@globalquiver.com
  </p>
  <h3>
    How do we get signed up?
  </h3>
  <p>
    If you just use the sign up form (make sure to click "I'm a surf shop"), we'll notice and get in touch with you right away.
  </p>
  <h3>
    Why should we do this?
  </h3>
  <p>
    Even if rental boards are not a great source of income for your shop, traveling surfers are. Traveling surfers buy boards,
    wetsuits, fins, sunglasses and clothes, and they trust your local knowlege. When a traveling surfer rents a board from your
    shop, you have a gauranteed customer.
  </p>
  <h3>
    What happens if a surfer doesn't show up?
  </h3>
  <p>
    We're working on a feedback system for this site, but for now if you have problems with a particular surfer,
    please send us an email. You're also welcome to set this up however you like. If you want to have surfers pay in advance, you can.
  </p>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>


