<% content_for :javascript do %>
  $(document).ready(function() {
    $("div#new-board-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#board-search-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#why-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#how-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
  });

<% end %>

<div id="welcome">
  <h1>Time for a surf trip?</h1>
  <h3>Global Quiver is a community of surfers that travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can reserve boards for your next surf trip.  If you have an extra board, loan it or rent it.</h3>
</div>
<div id="button-area">
  <div id="main-buttons">
    <div id="new-board-button" class="home-page-button">
      <%= link_to "Add your boards to the Global Quiver", new_board_url, :id=>"rent" %>
    </div>
    <div id="board-search-button" class="home-page-button">
      <a id="boards" href="http://localhost:3000/board_searches/new">Reserve boards in<br/>the Global Quiver</a>
    </div>
  </div>
  <div id="question-buttons">
    <div id="why-button" class="home-page-button">
      <a id="why" href="http://localhost:3000/pages/why">Why would I lend<br/>my board?</a>
    </div>
    <div id="how-button" class="home-page-button">
      <%= link_to "How does this work?", page_url('how'), :id=>"how" %>
    </div>
  </div>  
</div>



