<% content_for :javascript do %>
  $(document).ready(function() {
    $("div#new-board-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#board-search-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#why-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });
    $("div#how-button").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });

    $("#newest-shop").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });

    $("#newest-shop").mouseover(function() {
      $("#newest-shop").css("background-color","#efefef");
      $("#newest-shop").css("border","solid 2px white");
    });

    $("#newest-shop").mouseout(function() {
      $("#newest-shop").css("background-color","#ffffff");
      $("#newest-shop").css("border","solid 2px #333333");
      $("#most-popular-board").css("border-color","#333333");
    });

     $("#most-popular-board").click(function(){
      window.location=$(this).find("a").attr("href"); return false;
    });

    $("#most-popular-board").mouseover(function() {
      $("#most-popular-board").css("background-color","#efefef");
      $("#most-popular-board").css("border","solid 2px white");
    });

    $("#most-popular-board").mouseout(function() {
      $("#most-popular-board").css("background-color","#ffffff");
      $("#most-popular-board").css("border","solid 2px #333333");
      $("#most-popular-board").css("border-color","#333333");
    });
  });

<% end %>

<div id="welcome">
  <h1>Time for a surf trip?</h1>
  <h3>Global Quiver is a way for surfers that travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can reserve boards for your next trip.  If you have an extra board, loan it or rent it.</h3>
</div>

<%= render :partial => 'home_buttons' %>



