<h1>How do you reserve a board?</h1>

<div class="static_content">
  <h2>Just search by location.  A list of available boards will appear.  Reserve one or more boards for the dates you will be in town.</h2>
  <br/>
  <h2>This will send the board owner a reservation notice, and when he approves your reservation, you will be sent instructions on how to pick up your boards</h2>
  <br/>
  <h2>Do not pay in advance for board rental.  This website is self policing and board owners that don't reserve your board or that</h2>
  <h2>do not play by the rules will receive negative feedback.</h2>
  <br/>
  <h2>Likewise if you reserve a board, make sure you show up for on time!</h2>
</div>
