<div id="welcome">
  <h1>How do you rent a board?</h1>
  <h3>Global Quiver is a way for surfers that travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can rent boards for your next trip.  If you have an extra board, loan it or rent it.</h3>
</div>
 
<div class="static_content">
  <h2>Just search by location.  A list of available boards will appear.  Rent one or more
    boards for the dates you will be in town.
  </h2>
  <br/>
  <h2>This will send the board owner a note, and you will be sent
    instructions on how to pick up your boards</h2>
  <br/>
  <h2>You'll know when you rent your board whether you're renting it from a fellow surfer or
    a surf shop. If it is a fellow surfer, get in touch via email before the date of your trip
    to arrange plans for pickup and drop off.
  </h2>
  <br/>
  <h2>We can't say this enough on this site: Please do your best to <b>be respectful</b> of your
    fellow surfers! Show up for your board pickup and drop off on time, and take good care of each
    other's boards.
  </h2>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>
