<div id="welcome">
  <h1>How?</h1>
  <h3>Global Quiver is for surfers. Rent, buy & try boards, or make money off your extra boards.</h3>
  <div id="divider"></div>
  <h3>Online since just Feburary 2010, eventually this will be the global extension to your quiver.</h3>
</div>
<br/>
<div class="static_content">
  <h3>Here's how it works for people that list boards</h3>
  <ul>
    <li>Click 'Add a board'.</li>
    <li>Fill in the location and details.</li>
    <li>You'll get an email if a surfer reserves your board.</li>
    <li>Communicate via phone and email to arrange payment and pickup/dropoff</li>
  </ul>
  <h3>Here's how it works for surfers</h3>
  <ul>
    <li>Click 'Find a board'.</li>
    <li>Reserve boards for the dates you will be in town.</li>
    <li>You'll get an email with the board owner's info.</li>
    <li>Communicate via phone and email to arrange payment and pickup/dropoff</li>
  </ul>
  <br/>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>
