<div id="welcome">
  <h1>Surf Shop Information</h1>
  <h3>Global Quiver is a way for surfers to travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can rent boards for your next trip.  If you have an extra board, loan it or rent it.</h3>
</div>

<div class="static_content">
  <div class="paragraph">
    <h2>
      Core surf shops are the lifeblood of Global Quiver.
    </h2>
    <p>
      You have the identifiable locations,
      the local knowledge to guide surfers, and the additional equipment they need.
    </p>
    <p>
      Using Global Quiver to list your rental inventory will bring traveling surfers into your
      shop ready to buy additional equipment and clothes and pass the word along to their friends.
      And it will also bring local surfers into your shop that are interested in trying out
      new shapes and types of boards that they didn't know you had available for rent.
    </p>
  </div>
  <div class="paragraph">
    <h2>Getting Started</h2>
    <p>
      Just <%= link_to 'sign up', new_user_path %> for and account, and we'll be in touch with
      you right away. You'll need to sign an agreement with us just to make sure everything
      is in order. If you have any questions first, send an email to info@globalquiver.com or
      give us a call (ask for Jon) at 970-376-1920.
    </p>
  </div>
  <div class="paragraph">
    <h2>How much will this cost?</h2>
    <p>
      It is free to list your boards on here. We think of it as marketing for you. The only
      time we ask for money is when surfers use Global Quiver to rent one of your boards.
      Our current fee is $4 per day that each board is rented.
    </p>
  </div>
  <div class="paragraph">
    <h2>
      Can we advertise on Global Quiver?
    </h2>
    <p>
      The answer is yes, if it makes sense. If your shop make sense to display on our site,
      please get in touch at info@globalquiver.com.
    </p>
  </div>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>