<div id="welcome">
  <h1>Thanks for visiting from Twitter</h1>
  <h3>Global Quiver is a community of surfers that travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Someone is looking for a board to rent in your area.  Click the 'Add' button below to add yours.</h3>
</div>

<%= render :partial => 'home_buttons' %>



