<div id="welcome">
  <h1>Why rent or lend your board?</h1>
  <h3>Global Quiver is a way for surfers to travel without shlepping boards around the planet.</h3>
  <div id="divider"></div>
  <h3>Here you can rent boards for your next trip.  If you have an extra board, loan it or rent it.</h3>
</div>

<div class="static_content">
  <h2>Well, first off, you probably only should rent your board if it's an <span style="font-style:italic">extra</span> board. <br/><br/></h2>
  <h2>This website can offer nothing to protect your favorite board, and that's not what it's about.</h2>
  <h3>Here are some reasons you might consider lending or renting your extra:</h3>
  <ul>
    <li>Why not?  You have extras and they're not getting any use.</li>
    <li>You like to travel without bringing your board, so you can help someone do the same.</li>
    <li>Maybe you need extra beer money.</li>
    <li>You swear by the bonzer and you want everyone to experience the thrill</li>
  </ul>

  <br/>
  <h2>Also, if you own a boardshop, you can list your available boards here for people to rent in advance of their trip!</h2>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>