<h1>Why would you lend your board?</h1>

<div id="whyText">

  <h2>Well, first off, you probably only should lend your board if it's an <span style="font-style:italic">extra</span> board.</h2>
  <h2>This website can offer nothing to protect your favorite board, and that's not what it's about.</h2>
  <h3>Here are some reasons you might consider lending or renting your extra:</h3>
  <ul>
    <li>Why not?  You have extras and they're not getting any use.</li>
    <li>You like to travel without bringing your board, so you can help someone do the same.</li>
    <li>Maybe you need extra beer money.</li>
    <li>You swear by the single fin and you want everyone to experience the thrill</li>
  </ul>

  <br>
  <h2>Also, if you own a boardshop, you can list your available boards here for people to reserve in advance of their trip!</h2>

</div>