<div id="welcome">
  <h1>Why?</h1>
  <h3>Global Quiver is for surfers. Rent, buy & try boards, or make money off your extra boards.</h3>
  <div id="divider"></div>
  <h3>Online since just Feburary 2010, eventually this will be the global extension to your quiver.</h3>
</div>
<br/>
<div class="static_content">
  <h2>The short answer is to spread the stoke.</h2>

  <h3>There are 2 ways:</h3>
  <ul>
    <li>Rent it for a daily fee.</li>
    <li>Offer to sell it and then buy it back later if it's still in good shape.</li>
  </ul>

  <h3>Here are some reasons you might consider:</h3>
  <ul>
    <li>Why not? You have extras and they're not getting any use.</li>
    <li>You like to travel without bringing your board, so you can help someone do the same.</li>
    <li>Maybe you need extra beer money.</li>
    <li>You swear by the bonzer and you want everyone to experience the thrill.</li>
  </ul>

  <br/>
  <h3>Also, if you own a boardshop, you can list your available boards here for people to rent in advance of surf trips!</h3>
  <br/>
  <h2>
    <%= link_to "Join Global Quiver", new_user_path %>
  </h2>
</div>