<% content_for :head do %>
  <%= stylesheet_link_tag 'admin', :media => 'screen' %>
<% end %>
<h1>Admin Page: All Styles</h1>
<p>
  Probably not a good idea to ever delete styles because if there are boards out there
  of the style you deleted, they will throw nil exceptions all over the place when accessed.
  But since you're an admin, you have the power if you need it.
</p>
<div class="show-admin-items">

<table id="admin-items-table">
  <tr class="admin-items-header">
    <td>Style</td>
    <td>Delete</td>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%=h style.name %></td>
    <td><%= link_to 'Delete', style, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New style', new_style_path %>
</div>
