<% content_for :head do %>
  <%= stylesheet_link_tag 'admin', :media => 'screen' %>
<% end %>
<h1>Admin Page: All Styles</h1>
<div class="show-admin-items">

<table id="admin-items-table">
  <tr class="admin-items-header">
    <td>Style</td>
    <td>Delete</td>
  </tr>

<% @styles.each do |style| %>
  <tr>
    <td><%=h style.name %></td>
    <td><%= link_to 'Delete', style, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New style', new_style_path %>
</div>
