<% content_for :head do %>
  <%= stylesheet_link_tag 'admin', :media => 'screen' %>
<% end %>
<h1>New Style</h1>

<div class="show-admin-items">
  <% semantic_form_for @style, :url => {:action => "create" } do |form| %>
    <div id="admin-item-form"
      <%= form.input :name %>
    </div>
    <div id="save-button" class="submit">
      <%= form.submit 'Save', :class => 'submitBtn' %>
    </div>
  <% end %>
  <div class="clear"></div>
  <%= link_to 'Show All Styles', styles_path %>
</div>