<% content_for :head do %>
  <%= stylesheet_link_tag 'board','board_searches', :media => 'screen' %>
<% end %>

<h1>Board Search Results</h1>

<% if @found_boards.empty? %>
  <p>
    We couldn't find any boards where you're planning on going.  Try a different search.
  </p>
  <%  else %>
  <div id="search-results">
    <div class="board-list">
      <ul id="list-headings">
        <li>Pic</li>
        <li>Model</li>
        <li class="medium">Type</li>
        <li class="short">Length</li>
      </ul>
      <%= render :partial => "boards/board", :collection => @found_boards %>
    </div>
    <div id="redo-search">
      <h2>New Search</h2>
      <%= render :partial => "form" %>
    </div>
  </div>
  
  <% end %>

