<div id="locationPicker">
  <h3>Choose a location or enter a<a href="javascript:void(0);" onclick="Effect.toggle('locationFields', 'appear', {afterFinish:function(){map.checkResize();}}); Effect.toggle('locationPicker', 'appear'); set_board_location_id(-1); showAddress(this.address.value);  return false;"> new one.</a><h3>

    <select id="board_location_selector" onchange="set_board_location_id(this.value)" >
      <% @locations.each do |location| %>
        <option value="<%= location.id %>"
          <% if !@board.nil? and @board.location_id == location.id -%> selected="selected"<% end -%>>
          <%= location.street %> <%= location.locality %>, <%= location.region %>
        </option>
      <% end %>
    </select>
</div>
