      <div class="clear"></div>
        <div id="footer">
          <p>Copyright &copy; <%=Date.today.year %>  Global Quiver, Inc.</p>
          <ul>
            <li class="last"><%= mail_to "info@kelsusconsulting.com", "Found a Bug?" %></li>
          </ul>
          <div id="surfer-pic-bottom">
            <img id="taj-burrow-pic" src="/images/tajburrowpic.png" alt="tajburrowpic"/>
          </div>
        </div>
      </div><!--Container from header-->
    </div><!--Outer container from header-->
  </body>
</html>
