    <div class="clear"></div>
      <div id="footer">
        <p>Copyright &copy; <%=Date.today.year %>  Global Quiver, Inc.</p>
        <ul>
          <li class="last"><%= mail_to "info@kelsusconsulting.com", "Found a Bug?" %></li>
        </ul>
      </div>
    </div><!--Container from header-->
  </body>
</html>
