    <div class="clear"></div>
      <div id="copyright">
        <p>Copyright &copy; 2008 Kelsus, Inc.</p>
      </div>
      <div id="footer">
        <p>Designed and constructed by <a href="http://kelsusconsulting.com/">kelsus, inc.</a></p>
        <ul>
          <li class="last"><%= mail_to "info@kelsusconsulting.com", "Found a Bug?" %></li>
        </ul>
      </div>
    </div><!--Container from header-->
    <%= render :partial => "layouts/javascripts" %>
  </body>
</html>
