    <div class="clear"></div>
      <div id="footer">
        <p>Copyright &copy; <%=Date.today.year %>  Global Quiver, Inc.</p>
        <ul>
          <li class="last"><%= mail_to "info@kelsusconsulting.com", "Found a Bug?" %></li>
        </ul>
        <div id="surftown">
          <img id="surftownpic" src="/images/polonio.png" alt="surftown"/>
        </div>
      </div>
    </div><!--Container from header-->
  </body>
</html>
