      <div class="clear"></div>
        <div id="footer">
          <p>Copyright &copy; <%=Date.today.year %>  Global Quiver, Inc.</p>
          <ul>
            <li class="last"><%= mail_to "info@kelsusconsulting.com", "Found a Bug?" %></li>
          </ul>
          <div id="surfer-pic-bottom">
            <img id="taj-burrow-pic" src="/images/tajburrowpic.jpg" alt="tajburrowpic"/>
          </div>
        </div>
      </div><!--Container from header-->
    </div><!--Outer container from header-->
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("<%= google_analytics_id%>");
      pageTracker._trackPageview();
      } catch(err) {}</script>
  </body>
</html>
