<%= render :partial => 'layouts/header' %>
      <div id="topper">
        <img class="topper" alt="" src="/images/topper.png"/>
      </div>
      <div id="mainContent">
    <%= yield %>
  <!-- #application -->
<%= render :partial => 'layouts/footer' %>
